# .coveragerc to control coverage.py
[paths]
source =
   src
   */site-packages

[run]
branch = true
parallel = true
source =
    depend
    tests

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod

ignore_errors = True
